@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

* {
  box-sizing: border-box;
}

html,
body {
  min-height: 100%;
  background: #fff;
  color: #000;
}

/* sets the body height of the browser, so that backgrounds and div heights work correctly. Color and background will almost certainly be altered; they are just placeholders */

body {
  font-size: 1.4rem;
  text-rendering: optimizeLegibility;
}

/* sets the base font size for the document; turns on kerning pairs and ligatures */

body,
ul,
ol,
dl {
  margin: 0;
}

article,
aside,
audio,
footer,
header,
nav,
section,
video {
  display: block;
}

/* ensures that older browsers will display HTML5 elements correctly */

h1 {
  font-size: 1.4rem;
}

/* begins to set up font sizes relative to base rem – h1 has been used as an example */

p {
  -ms-word-break: break-all;
  word-break: break-all;
  word-break: break-word;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
}

/* sets hyphenation by default on paragraphs */

textarea {
  resize: vertical;
}

/* changes textarea resizing from "both" (UA default) to vertical only */

table {
  border-collapse: collapse;
}

td {
  padding: .5rem;
}

/* causes tables to actually look like tables */

img {
  border: none;
  max-width: 100%;
}

/* removes outlines from linked images (for older browsers and IE), sets up images for responsive design layout */

input[type="submit"]::-moz-focus-inner,
input[type="button"]::-moz-focus-inner {
  border: 0px;
}

/* removes the inner border effect from focused buttons for form elements in Firefox */

input[type="search"] {
  -webkit-appearance: textfield;
}

input[type="submit"] {
  -webkit-appearance: none;
}

/* removes the OS X appearance from HTML5 search inputs and submit buttons when viewed in Safari */

input:required:after {
  color: #f00;
  content: " *";
}

/* sets up required form fields with the conventional following red asterix */
input[type="email"]:invalid {
  background: #f00;
}

/* causes a visual alert in browsers that do client-side checking of HTML5 email field – this may already be the default in some browsers. */

.right {
  float: right;
  margin-left: 2rem;
  clear: right;
}

.left {
  float: left;
  margin-right: 2rem;
  clear: left;
}

/* allows a quick shortcut for floating elements left and right while avoiding the “float quirk” problem */

sub,
sup {
  line-height: 0;
}

#root{
  padding: 0;
  margin: auto;
width: 100%;
max-width: none;
}